<ul class="ui-trending-list" aria-label="Trending articles">
    <li class="ui-trending-list__item">
        <a class="ui-trending-list__link" href="/articles/grid-systems">
            <span class="ui-trending-list__body">
                <span class="ui-trending-list__title">
                    10 Grid Systems Every Designer Should Master
                </span>
            </span>
        </a>
    </li>
</ul>

<ul class="ui-trending-list" aria-label="Trending articles">
    <li class="ui-trending-list__item">
        <a class="ui-trending-list__link" href="/articles/grid-systems">
            <span class="ui-trending-list__media">
                <img class="ui-trending-list__image" src="../../assets/editorial-placeholder.svg" alt="">
            </span>

            <span class="ui-trending-list__body">
                <span class="ui-trending-list__title">
                    10 Grid Systems Every Designer Should Master
                </span>
            </span>
        </a>
    </li>
</ul>

<ul class="ui-trending-list" aria-label="Most viewed articles">
    <li class="ui-trending-list__item">
        <a class="ui-trending-list__link" href="/articles/grid-systems">
            <span class="ui-trending-list__media">
                <img class="ui-trending-list__image" src="../../assets/editorial-placeholder.svg" alt="">
            </span>

            <span class="ui-trending-list__body">
                <span class="ui-trending-list__title">
                    10 Grid Systems Every Designer Should Master
                </span>
                <span class="ui-trending-list__meta">48k views</span>
            </span>
        </a>
    </li>
</ul>

<ul class="ui-trending-list" aria-label="Recent recommendations">
    <li class="ui-trending-list__item">
        <a class="ui-trending-list__link" href="/articles/designing-with-time">
            <span class="ui-trending-list__media">
                <img class="ui-trending-list__image" src="../../assets/editorial-placeholder.svg"
                    alt="Abstract editorial interface preview">
            </span>

            <span class="ui-trending-list__body">
                <span class="ui-trending-list__title">
                    Designing with Time as a Constraint
                </span>
                <span class="ui-trending-list__meta">
                    <time datetime="2026-06-23">Jun 23, 2026</time>
                </span>
            </span>
        </a>
    </li>
</ul>

<ul class="ui-trending-list ui-trending-list--compact" aria-label="Trending resources">
    <li class="ui-trending-list__item">
        <a class="ui-trending-list__link" href="/articles/motion-context">
            <span class="ui-trending-list__media">
                <img class="ui-trending-list__image" src="../../assets/editorial-placeholder.svg" alt="">
            </span>

            <span class="ui-trending-list__body">
                <span class="ui-trending-list__title">
                    Motion as spatial context
                </span>
                <span class="ui-trending-list__meta">8 min read</span>
            </span>
        </a>
    </li>
</ul>

<ul class="ui-trending-list ui-trending-list--divided" aria-label="Popular articles">
    <li class="ui-trending-list__item">
        <a class="ui-trending-list__link" href="/articles/grid-systems">
            <span class="ui-trending-list__media">
                <img class="ui-trending-list__image" src="../../assets/editorial-placeholder.svg" alt="">
            </span>

            <span class="ui-trending-list__body">
                <span class="ui-trending-list__title">
                    10 Grid Systems Every Designer Should Master
                </span>
                <span class="ui-trending-list__meta">48k views</span>
            </span>
        </a>
    </li>

    <li class="ui-trending-list__item">
        <a class="ui-trending-list__link" href="/articles/editorial-components">
            <span class="ui-trending-list__media">
                <img class="ui-trending-list__image" src="../../assets/editorial-placeholder.svg" alt="">
            </span>

            <span class="ui-trending-list__body">
                <span class="ui-trending-list__title">
                    Editorial Components as Product Surface
                </span>
                <span class="ui-trending-list__meta">18k views</span>
            </span>
        </a>
    </li>
</ul>

<ol class="ui-trending-list" aria-label="Manual editorial ranking">
    <li class="ui-trending-list__item">
        <a class="ui-trending-list__link" href="/articles/start-with-semantics">
            <span class="ui-trending-list__media">
                <img class="ui-trending-list__image" src="../../assets/editorial-placeholder.svg" alt="">
            </span>

            <span class="ui-trending-list__body">
                <span class="ui-trending-list__title">
                    Start with semantic HTML
                </span>
                <span class="ui-trending-list__meta">Editor's pick</span>
            </span>
        </a>
    </li>
</ol>
