<article class="ui-comment">
    <div class="ui-comment__body">
        <header class="ui-comment__header">
            <span class="ui-comment__author">Julian Moss</span>
        </header>

        <p class="ui-comment__text">
            This is a thoughtful comment.
        </p>
    </div>
</article>

<article class="ui-comment">
    <div class="ui-comment__avatar-wrapper">
        <img class="ui-comment__avatar" src="../../assets/avatar-placeholder.svg" alt="Julian Moss">
    </div>

    <div class="ui-comment__body">
        <header class="ui-comment__header">
            <span class="ui-comment__author">Julian Moss</span>
            <time class="ui-comment__time" datetime="2026-06-23T14:00:00">2h ago</time>
        </header>

        <p class="ui-comment__text">
            The point about motion as spatial awareness is critical.
        </p>
    </div>
</article>

<article class="ui-comment">
    <div class="ui-comment__avatar-wrapper">
        <img class="ui-comment__avatar" src="../../assets/avatar-placeholder.svg" alt="Elena Valery">
    </div>

    <div class="ui-comment__body">
        <header class="ui-comment__header">
            <span class="ui-comment__author">Elena Valery</span>
            <span class="ui-comment__badge">Author</span>
            <time class="ui-comment__time" datetime="2026-06-23T15:00:00">1h ago</time>
        </header>

        <p class="ui-comment__text">
            Motion is the why and where of the interface.
        </p>
    </div>
</article>

<article class="ui-comment">
    <div class="ui-comment__body">
        <header class="ui-comment__header">
            <span class="ui-comment__author">Julian Moss</span>
            <time class="ui-comment__time" datetime="2026-06-23T14:00:00">2h ago</time>
        </header>

        <p class="ui-comment__text">
            This is exactly the kind of detail that makes motion feel useful.
        </p>

        <button class="ui-comment__reply" type="button">Reply</button>
    </div>
</article>

<article class="ui-comment ui-comment--reply">
    <div class="ui-comment__avatar-wrapper">
        <img class="ui-comment__avatar" src="../../assets/avatar-placeholder.svg" alt="Elena Valery">
    </div>

    <div class="ui-comment__body">
        <header class="ui-comment__header">
            <span class="ui-comment__author">Elena Valery</span>
            <span class="ui-comment__badge">Author</span>
            <time class="ui-comment__time" datetime="2026-06-23T15:00:00">1h ago</time>
        </header>

        <p class="ui-comment__text">
            Exactly. Motion should explain where the interface is going.
        </p>

        <button class="ui-comment__reply" type="button">Reply</button>
    </div>
</article>
