<p class="ui-byline">
    <span class="ui-byline__name">Elena Valery</span>
</p>

<div class="ui-byline">
    <img class="ui-byline__avatar" src="../../assets/avatar-placeholder.svg" alt="Elena Valery">

    <div class="ui-byline__body">
        <span class="ui-byline__name">Elena Valery</span>
    </div>
</div>

<div class="ui-byline">
    <img class="ui-byline__avatar" src="../../assets/avatar-placeholder.svg" alt="Elena Valery">

    <div class="ui-byline__body">
        <a class="ui-byline__name" href="/authors/elena-valery">Elena Valery</a>
    </div>
</div>

<div class="ui-byline">
    <img class="ui-byline__avatar" src="../../assets/avatar-placeholder.svg" alt="Elena Valery">

    <div class="ui-byline__body">
        <a class="ui-byline__name" href="/authors/elena-valery">Elena Valery</a>

        <span class="ui-byline__meta">
            <span class="ui-byline__item">
                <time datetime="2024-03-24">Mar 24, 2024</time>
            </span>
            <span class="ui-byline__item">8 min read</span>
        </span>
    </div>
</div>

<p class="ui-byline ui-byline--compact">
    <span class="ui-byline__name">Elena Valery</span>
    <span class="ui-byline__meta">
        <span class="ui-byline__item">8 min read</span>
    </span>
</p>

<div class="ui-byline ui-byline--stacked">
    <img class="ui-byline__avatar" src="../../assets/avatar-placeholder.svg" alt="Elena Valery">

    <div class="ui-byline__body">
        <span class="ui-byline__name">Elena Valery</span>

        <span class="ui-byline__meta">
            <span class="ui-byline__item">
                <time datetime="2024-03-24">Mar 24, 2024</time>
            </span>
            <span class="ui-byline__item">8 min read</span>
        </span>
    </div>
</div>

<address class="ui-byline">
    <img class="ui-byline__avatar" src="../../assets/avatar-placeholder.svg" alt="Elena Valery">

    <div class="ui-byline__body">
        <a class="ui-byline__name" href="/authors/elena-valery">Elena Valery</a>
        <span class="ui-byline__meta">
            <span class="ui-byline__item">Editorial desk</span>
        </span>
    </div>
</address>
